@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



.corner {
  position: absolute;
  width: 30px; /* Ajusta este valor según sea necesario */
  height: 30px; /* Ajusta este valor según sea necesario */
  border: 3px solid #f7f5f5; /* Ajusta el color y grosor según sea necesario */

}

.corner.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;

}

.corner.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.corner.bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.corner.bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}